/* LANDSCAPE TABLETS */
@media (max-width: 1140px) {
    /* HEADER */
    .header-text {
        padding-left: 0;
    }

    /* MAIN */
    .about-me-container {
        width: 90%;
    }

    /* Portfolio */
    .portfolio-grid {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 30rem));
    }

    /* Text */
    .large-title {
        font-size: 5rem;
    }
}

/* PORTRAIT TABLETS AND LARGE PHONES */
@media (max-width: 768px) {
    /* HEADER */
    .nav-menu {
        width: 25rem;
    }
    
    /* FOOTER */
    .footer-grid {
        grid-template-columns: 1fr; 
        gap: 2rem; 
             
    }

    .footer-signature-container {
        align-items: center;
    }

    .vertical-line {
        display: none;
    }

    .contact-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 1rem;
        text-align: center;
    }

    /* Text */
    .large-title {
        font-size: 3.5rem;
    }

    .signature {
        font-size: 2rem;
    }
}

/* MOBILES */
@media (max-width: 450px) {
    /* HEADER */
    .nav-menu {
        width: 90%;
    }

    a {
        font-size: .8rem;
    }

    /* MAIN */
    main {
        padding: 0 1rem;
    }

    .profile-img {
        width: 15rem;
    }

    .portfolio-grid {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }

    .horizontal-line {
        width: 12rem;
    }

    .vertical-whitespace {
        padding: 2rem 0;
    }

    /* Text */
    .header-signature {
        font-size: 3rem;
    }

    .large-title {
        font-size: 2rem;
    }

    .small-title {
        font-size: 1.5rem;
    }

    .about-me-text {
        padding-bottom: 2rem;
    }

    p {
        font-size: 1rem;
    }

    .project-list {
        padding: 1rem 0 1rem 2rem;
        font-size: .9rem;
    }

    /* Buttons */
    .primary-button {
        width: 10rem;
        height: 2rem;
        font-size: 1rem;
    }

    .disabled-button {
        width: 10rem;
        height: 2rem;
        font-size: 1rem;
    }
}
